* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f0f1a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

header a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),
              url("https://wallpaperaccess.com/full/1567666.png");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
  text-shadow: 0 0 20px #fff;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #ff6ec4;
  color: white;
  cursor: pointer;
}

/* SECTIONS */
.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 40px;
}

.section.reverse {
  flex-direction: row-reverse;
}

.text {
  width: 50%;
}

.text h2 {
  margin-bottom: 15px;
}

.text p {
  margin-bottom: 15px;
  color: #ccc;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  border-radius: 15px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background: #14142b;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}